<!DOCTYPE html>

<html>
  <head>
    <title>AdminLogin</title>
    <link rel="stylesheet" href="stycle.css/stycle.css">
    <script src="JavaScript/jquery-1.6.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="log.css">

    
  </head>

  <body class="b1">
   <header>
     
   </header> 
   <div class="container">
    <div class="header">
      <h2>Login</h2>
    </div>
    <form method="post" id="form" class="form">
      
      <div class="form-control">
        <label for="username">Email</label>
        <input type="email" placeholder="Enter your mail" id="email" />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error message</small>
      </div>
      
      <div class="form-control">
        <label for="username">Password</label>
        <input type="password" placeholder="Enter Password" id="password"/>
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error message</small>
      </div>
      <button>Submit</button>
    </form>
  </div>
    <script src="login.js"></script>
  </body>
</html>